body {
    background-color: #ccc;
}

.main {
    background-color: white;
    border: 1px solid black;
    width: 25%;
    margin: 0 auto 0 auto;
}

.sub-heading {
    display: flex;
    border-bottom: 1px solid black;
}

.item-main {
    padding: 10px;
}

.todo-heading {
   width: 60%; 
}

.todo-add {
    width: 40%;
    text-align: right;
    margin-top: 30px;
    
}

.todo-add a {
    color: black;
}

.delete-edit {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 05px;   
}

.delete-div {
    background-color: red;
}

.edit-div {
   background-color: blue; 
}

.div-item {
    display: flex;
    border: 1px solid black;
}

.input  {
    padding: 0 36% 0 10%;
    
}

.view-div {
    margin-top: 08px;
    margin-left: 08px;
    border: 1px solid black;
    height: 30px;
    background-color: green;
}

a {
    color: #fff;
    text-decoration: none;
}

